#sign a {
  text-decoration: none;
}
nav {
  z-index: 10;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Archivo Narrow", sans-serif;
}
h1,
h2,
h3,
h4,
h4 {
  font-family: "Archivo Narrow", sans-serif;
}
nav .container a .navbar-brand {
  color: #fff;
  font-size: 5rem;
}
nav .container a {
  color: #fff;
}
#hero {
  background: no-repeat center center/cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/hero-img/bg-1.jpg");

  height: 100vh;
  animation-name: slide;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes slide {
  0% {
    scale: 100%;

    background-image: url(/img/hero-img/bg-2.jpg);
  }
  25% {
    scale: 105%;
    background-image: url(/img/hero-img/bg-2.jpg);
  }
  50% {
    scale: 100%;
  }
  75% {
    scale: 105%;
  }
  100% {
    scale: 100%;
  }
}
#lister {
  z-index: 1;
  animation-name: lister;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  font-size: 15rem;
}
@keyframes lister {
  0% {
    text-shadow: 0px 0px 5px #fff;
  }
  25% {
    text-shadow: -15px 0px 4px #fff;
  }
  50% {
    text-shadow: -30px 0px 3px #fff;
  }
  75% {
    text-shadow: -15px 0px 3px #fff;
  }
  100% {
    text-shadow: 0px 0px 3px #fff;
  }
}
a {
  text-decoration: none;
}
#heading h1 {
  font-size: 4rem;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 1000;
  color: #fff;
}
#heading h2,
#heading p {
  color: #fff;
}
#navbar {
  background-color: #333;
}
/* section */
#new-album {
  padding-top: 5rem;
}
#sale {
  padding-top: 5rem;
}
.card {
  margin: 1rem;
}

#song {
  background: url(/img/hero-img/isa/bg-4.jpg) no-repeat;
  background-size: auto;
  background-attachment: fixed;
}
#artist {
  padding-top: 10rem;
}
.artist {
  margin: 1rem;
}
