/* #sign a {
  text-decoration: none;
} */
nav {
  z-index: 10;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Archivo Narrow", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Narrow", sans-serif;
}
nav .container a .navbar-brand {
  color: #fff;
}
nav .container a {
  color: #fff;
}
nav .container a:hover {
  color: #fff;
}
/* nav .container .dropdown-menu li a {
  color: #333;
} */

nav .container a {
  font-family: "Wendy One", sans-serif;

  cursor: pointer;
  position: relative;
}

nav .container a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 1px;
  left: -4px;
  transform: scaleX(0);
  box-shadow: 0 10px 0 #04aa6d;

  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

nav .container ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#tatic:hover {
  transform: scale(1.1);
  transition: ease-out 0.2s;
}

#navbar .nav-link.active {
  background-color: #04aa6d;
  border-radius: 5px;
  color: white;
}
/* end */

#hero {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/img/hero-img/bg-1.jpg");

  height: 100vh;
  animation-name: slide;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes slide {
  0% {
    scale: 100%;

    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(/img/hero-img/bg-2.jpg);
  }
  25% {
    scale: 105%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(/img/hero-img/bg-2.jpg);
  }
  50% {
    scale: 100%;
  }
  75% {
    scale: 105%;
  }
  100% {
    scale: 100%;
  }
}
#lister {
  z-index: 1;
  animation-name: lister;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  font-size: 15rem;
}
@keyframes lister {
  0% {
    text-shadow: 0px 0px 2px #ffffff2f;
  }
  25% {
    text-shadow: -15px 0px 2px #ffffff34;
  }
  50% {
    text-shadow: -30px 0px 2px #ffffff34;
  }
  75% {
    text-shadow: -15px 0px 2px #ffffff28;
  }
  100% {
    text-shadow: 0px 0px 2px #ffffff34;
  }
}
a {
  text-decoration: none;
}
#heading h1 {
  font-size: 4rem;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 1000;
  color: #fff;
}
#heading h2,
#heading p {
  color: #fff;
}
#navbar {
  background-color: #333;
  opacity: 0.8;
}
/* section */
#new-album {
  padding-top: 5rem;
}
#sale {
  padding-top: 5rem;
}
.card {
  margin: 1rem;
}

#song {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/img/hero-img/isa/bg-4.jpg);
  background-size: auto;
  background-attachment: fixed;
  color: #04aa6d;
}

#artist {
  padding: 5rem 0;
}
.artist {
  margin: 1rem;
}
.foot-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/img/hero-img/bg-2.jpg);
  background-attachment: fixed;
  color: #04aa6d;
}

/* form .first,
form .second {
  background-color: #33333300;
  border-radius: 5px;
  width: 50%;
  height: 50px;
} */
form .first input,
form .second input,
form .fourth input,
form .fifth input,
.sixth textarea {
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
  border: rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid #646363;
  font-size: 1rem;
  color: #fff;
}
/* label {
  font-size: 1.5rem;
  font-weight: bold;
  color: #04aa6d;
} */
form .first input::placeholder,
form .second input::placeholder,
form .fourth input::placeholder,
form .fifth input::placeholder,
#sixth textarea::placeholder {
  color: #9e9e9e;
}
form #fourth,
form #fifth {
  background-color: rgba(0, 255, 255, 0);
  width: 50%;
  height: 50px;
}
form #fourth input,
form #fifth input {
  width: 100%;
}
#sixth textarea {
  background-color: #3ef10300;
  border-radius: 5px;
  width: 90%;
  height: 50px;
}
#wagpo {
  max-width: 1400px;
}
#icon-2 {
  color: #fff;
  font-size: 1.5rem;
}
#topic:hover {
  background-color: black;
  color: white;
  transition: ease-out 0.5s;
  border-radius: 5px;
}
/* login button W3school */
/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* .container {
  padding: 16px;
} */

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
/* End */
#subscribe label,
#subscribe input,
#subscribe button,
#subscribe .container {
  color: #333;
  font-size: 1rem;
}
#subscribe img {
  height: 50px;
  width: 50px;
}
#subscribe form {
  width: 30%;
}
/* review */
.card-body {
  padding: 0.5rem;
}
.review {
  font-size: 0.9rem;
}
.review a {
  color: #333;
}
.review i {
  font-size: 0.7rem;
}
.d-flex .m-0 {
  font-size: 0.8rem;
}
@media (max-width: 1200px) {
  #song p,
  #song h2,
  #song h6 {
    color: #fff;
  }
}
@media (max-width: 768px) {
  .foot-bg input,
  .foot-bg label {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
@media (max-width: 690) {
  #song .container img {
    width: 50%;
  }
}

/* subscribe */
.box-1 {
  margin: 1rem;
}
#premium .bx-1 {
  color: #ffabe3;
}
#premium .bx-1 .p-1,
#premium .bx-1 .p-2 {
  background-color: #ffabe3;
  color: black;
}
#premium #last-1 .p-2 {
  margin-top: 6rem;
}
.bx-2 .d-1,
.bx-2 .p-2 {
  background-color: #f7d437;
  color: black;
}
.bx-2 {
  color: #f7d437;
}
.bx-3 {
  color: #adffff;
}
.bx-3 .p-1,
.bx-3 .p-2 {
  background-color: #adffff;
  color: black;
}
#check-up .check-up-1 input {
  border-bottom: #ffabe3 solid 3px;
}
#check-up .check-up-1 input::placeholder,
#check-up .check-up-1 label {
  color: #ffabe3;
}
#check-up .check-up-2 input {
  border-bottom: #f7d437 solid 3px;
}
#check-up .check-up-2 input::placeholder,
#check-up .check-up-2 label {
  color: #f7d437;
}
.check-up-3 #fourth input {
  border-bottom: #adffff solid 3px;
}
.check-up-3 #fourth input::placeholder,
.check-up-3 #fourth label {
  color: #adffff;
}
#event-hero {
  background: url(/img/breadcumb2.jpg) no-repeat center center/cover;
  height: 75vh;
  width: 100%;
}

#event-hero::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 75vh;
  background-color: rgba(0, 0, 0, 0.4);
}
#event-hero * {
  z-index: 5;
}
#event-hero h1 {
  font-size: 3rem;
  font-weight: 1000;
  margin-bottom: 1rem;
}
@media (max-width: 850px) {
  #event-hero h1 {
    font-size: 1.5rem;
    padding: 0;
  }
  #event-hero p {
    font-size: 1rem;
  }
  #event-hero {
    height: 30vh;
  }
  #hero {
    height: 30vh;
  }
  #hero h1 {
    font-size: 2rem;
    justify-content: center;
    display: flex;
    margin-left: 3rem;
  }
  #hero p {
    font-size: 1rem;
    text-align: center;
    max-width: 600px;
    margin: auto;
  }
}
@media (max-width: 600px) {
  #event-hero h1 {
    font-size: 1rem;
  }
  #event-hero p {
    font-size: 0.8rem;
  }
}
/*------------------------------------------------- navbar */
/* @media (max-width: 577px) {
  #navbar {
    max-width: 577px;
  }
  body {
    max-width: 577px;
    margin: auto;
  }
}
@media (max-width: 560px) {
  #navbar {
    max-width: 560px;
  }
  body {
    max-width: 560px;
    margin: auto;
  }
}
@media (max-width: 545px) {
  #navbar {
    max-width: 545px;
  }
  body {
    max-width: 545px;
    margin: auto;
  }
}
@media (max-width: 530px) {
  #navbar {
    max-width: 530px;
  }
  body {
    max-width: 530px;
    margin: auto;
  }
}
@media (max-width: 515px) {
  #navbar {
    max-width: 515px;
  }
  body {
    max-width: 515px;
    margin: auto;
  }
}
@media (max-width: 500px) {
  #navbar {
    max-width: 500px;
  }
  body {
    max-width: 500px;
    margin: auto;
  }
}
@media (max-width: 485px) {
  #navbar {
    max-width: 485px;
  }
  body {
    max-width: 485px;
    margin: auto;
  }
}
@media (max-width: 465px) {
  #navbar {
    max-width: 465px;
  }
  body {
    max-width: 465px;
    margin: auto;
  }
}
@media (max-width: 450px) {
  #navbar {
    max-width: 450px;
  }
  body {
    max-width: 450px;
    margin: auto;
  }
}
@media (max-width: 430px) {
  #navbar {
    max-width: 430px;
  }
  body {
    max-width: 430px;
    margin: auto;
  }
}
@media (max-width: 415px) {
  #navbar {
    max-width: 415px;
  }
  body {
    max-width: 415px;
    margin: auto;
  }
}
@media (max-width: 415px) {
  #navbar {
    max-width: 415px;
  }
  body {
    max-width: 415px;
    margin: auto;
  }
}
@media (max-width: 400px) {
  #navbar {
    max-width: 400px;
  }
  body {
    max-width: 400px;
    margin: auto;
  }
}
@media (max-width: 385px) {
  #navbar {
    max-width: 385px;
  }
  body {
    max-width: 385px;
    margin: auto;
  }
}
@media (max-width: 360px) {
  #navbar {
    max-width: 360px;
  }
  #body {
    max-width: 360px;
  }
}
@media (max-width: 300px) {
  #navbar {
    max-width: 300px;
  }
  body {
    max-width: 300px;
    margin: auto;
  }
} */
@media (max-width: 585px) {
  .img-star {
    width: 350px;
  }
}

.hero-title {
  width: auto;
}

#event-card {
  padding-top: 3rem;
}

.event {
  margin: 1rem;
  background-color: black;
  color: white;
  padding: 0;
}
.event a {
  text-decoration: none;
}
.event:hover {
  background-color: white;
  color: black;
  transition: ease-out 0.5s;
}
.event .see {
  font-size: 0.7rem;
}
.event h3 {
  font-size: 1.5rem;
  font-weight: 1000;
}
/* playlist */
#playlist a {
  color: #333;
  text-decoration: none;
}
#playlist {
  padding-top: 5rem;
}
.playsheet .text-center:hover {
  background-color: #048d5b;
  border-radius: 5px;
  /* color: black; */
  transition: ease-out 0.5s;
}
.music-list {
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.img-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/img/hero-img/bg-1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 98vh;
  justify-content: center;
}

.padding-banner {
  padding: 0 5rem;
}
.padding-banner .img-banner-2 {
  margin: auto;
  width: 600px;
  color: #fff;
}
.padding-banner .img-banner h2 {
  font-weight: 1000;
  font-size: 3rem;
}
.img-head {
  width: 30vw;
}
.h-current {
  box-shadow: 0 5px 0 #04aa6d;
}
@media (max-width: 900px) {
  .padding-banner .img-banner h2 {
    font-size: 2rem;
  }
  .padding-banner .img-banner-2 {
    font-size: 1rem;
    padding: 4rem;
  }
}

/*----------------- review ----------*/

.review-1 img,
.review-2 img,
.review-3 img {
  height: 60vh;
}
.review-1,
.aside {
  margin-top: 5rem;
}

.review-3 {
  margin-bottom: 5rem;
}
#aside-2 ul li a {
  text-decoration: none;
  list-style: none;
  color: #333;
}
.aside-1,
.aside-2 {
  width: 86%;
}
form .second {
  padding: 1rem;
}
@media (max-width: 580px) {
  .rev-img {
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
  }
}
